@page "/usuario"
@inject IUsuarioServiceBLL _iUsuarioServiceBLL;
@attribute [Authorize]

<PageTitle>Usuarios</PageTitle>

<div class="container"></div>
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="col-md-12 text-left">
            <h1>Usuarios</h1>
        </div>
        <div class="col-md-12 text-center">
            <button type="button" class="mb-2 mr-2 btn-pill btn btn-success" @onclick="(()=> OpenModal())">Nuevo</button>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <QuickGrid Items="usuarioResponseIList" Class="mb-0 table table-hover table-response" Theme="" Pagination="@paginationUsuario">
                    <PropertyColumn Property="@(p => p.Id)" Title="ID" Sortable="true" Align="Align.Center"></PropertyColumn>
                    <PropertyColumn Property="@(p => p.Usuario1)" Title="USUARIO" Sortable="true" Align="Align.Center"></PropertyColumn>
                    <PropertyColumn Property="@(p => p.FechaDeCreacion)" Title="FECHA CREACION" Format="yyyy-MM-dd" Sortable="true" Align="Align.Center"></PropertyColumn>
                </QuickGrid>
            </div>
        </div>
    </div>
</div>

@if(MostrarModal)
{
    <ModalUsuario OnClose="@CloseModal"
                BuscarUsuario="@BuscarUsuario">
    </ModalUsuario>
}
